#fasilitasSection .swiper-fasilitas {
    overflow: hidden !important;
    width: 100%;
}

#fasilitasSection .swiper-slide {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

#fasilitasSection .swiper-slide>div {
    width: 420px;
    max-width: 90vw;
}

.fasilitas-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #B1B9CC;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
}

.fasilitas-pagination .swiper-pagination-bullet-active {
    background: #8a91a1;
    width: 26px;
    border-radius: 5px;
}